.divContent{
    display: flex;
    flex-direction: column;
    height: 100%; 
    width: 100%;
    border-radius: 15px;
    background-color: rgba(187, 186, 186, 0.479);
    padding: 10px;
}
#pPregunta{
    text-align: justify;
    font-size: 22px;
    
    margin-bottom: 20px;
}

#check1,#check2,#check3{
    transform: scale(2);
}
.contenedorfinal{
    display: flex;
    height: 100%;
    width: max-content;
}
.labelResp{
    margin-left: 15px;
    font-size: 22px;
    display: flex;
    text-align: start;
    
    flex-wrap: wrap;
}

.itemRespu{
    display: flex;
    align-items: center;
    
    margin: 10px;
    
}
#buttonAnterior, #buttonSiguiente{
    border-radius: 25px;
    height: max-content;
    width: max-content;
    padding: 10px;
    cursor: pointer;
    outline-style: none;
    border: none;
    background-color: rgb(112, 112, 184);
    color: rgb(247, 247, 247);
    box-shadow: 7px 7px 15px rgba(68, 68, 68, 0.699);
}
#buttonAnterior:hover{
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.699);
    transform: scale(1.1);
}
#buttonSiguiente:hover{
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.699);
    transform: scale(1.1);
}

#buttonAntSigContainer{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    
}
